<% include partials/header %>
<div class="conatiner">

<h1>Sign In!</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <button>Sign in</button>
</form>

</div>
<% include partials/footer %>